<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--[if IE]>
        <meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'>
    <![endif]-->

    <meta name="keywords" content="Aidk AI智能輔助學群學系推薦系統" />
    <meta name="description" content="Aidk AI智能輔助學群學系推薦系統" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Aidk AI智能輔助學群學系推薦系統</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="../static/images/favicon.ico">

    <!-- 分享 -->
    <meta property="og:title" content="Aidk AI智能輔助學群學系推薦系統">
    </meta>
    <meta property="og:image" content="http://www.onelove99.com/web/aidk/images/fb.jpg">
    </meta>
    <meta property="og:description" content="AI智能輔助學群學系推薦系統">
    </meta>

    <link href="../static/css/all.css" rel="stylesheet">
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->


</head>

<body>

    <!--//==Preloader Start==//-->
    <div class="preloader">
        <div class="cssload-container">
            <div class="cssload-loading">
                <div id="object">
                </div>
            </div>
        </div>
    </div>
    <!--//==Preloader End==//-->

    <header class="header">
        <div class="logo">
            <a href="#"><img src="../static/images/logo.png" alt="AIDK" /></a>
            <div class="classNavBtn">
                <a href="#!" class="btnJL">課程總覽</a>

                <div class="classDropNav">
                    <div class="classDropHr">
                        <div class="container-xl">
                            <ul class="row no-gutters">
                                <li class="col-3 col-md-2"><a href="#">生命科學學群</a></li>
                                <li class="col-3 col-md-2"><a href="#">生物資源學群</a></li>
                                <li class="col-3 col-md-2"><a href="#">地球與環境學群</a></li>
                                <li class="col-3 col-md-2"><a href="#">建築與設計學群</a></li>
                                <li class="col-3 col-md-2"><a href="#">藝術學群</a></li>
                                <li class="col-3 col-md-2"><a href="#">社會與心理學群</a></li>
                                <li class="col-3 col-md-2"><a href="#">大眾傳播學群</a></li>
                                <li class="col-3 col-md-2"><a href="#">外語學群</a></li>
                                <li class="col-3 col-md-2"><a href="#">文史哲學群</a></li>
                                <li class="col-3 col-md-2"><a href="#">教育學群</a></li>
                                <li class="col-3 col-md-2"><a href="#">法政學群</a></li>
                                <li class="col-3 col-md-2"><a href="#">管理學群</a></li>
                                <li class="col-3 col-md-2"><a href="#">財經學群</a></li>
                                <li class="col-3 col-md-2"><a href="#">遊憩與運動學群</a></li>
                                <li class="col-3 col-md-2"><a href="#">資訊學群</a></li>
                                <li class="col-3 col-md-2"><a href="#">工程學群</a></li>
                                <li class="col-3 col-md-2"><a href="#">數理化學群</a></li>
                                <li class="col-3 col-md-2"><a href="#">醫藥衛生學群</a></li>
                                <li class="col-3 col-md-2"><a href="#">其他技能</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>

            <div class="searchBox">
                <form action="/course/index/search/" method="GET" style="width:100%">
                    <input type="text" class="form-control" name="keyword" value="" placeholder="搜尋">
                </form>
            </div>

            <ul class="userNav">
                <li>
                    <a href="#!"><img src="../static/images/img_profile.svg"></a>
                    <ul class="dropmenu">
                        <li><a href="../student/profile.html">個人檔案</a></li>
                        <li><a href="../student/myCourses.html">我的課程</a></li>
                        <li><a href="../student/record.html">消費紀錄</a></li>
                        <li><a href="../student/myScore.html">我的測驗</a></li>
                        <li><a href="#">登出</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </header>
    <div class="mainJL">

        <div class="container-xl">

            <div class="row">
                <div class="col-12 col-xs-8 col-md-8 col-xl-9 order-1 order-md-0">
                    <!-- banner -->
                    <section class="top-banner slider">
                        <div><img src="../course_data/1/img/0_1610955297.jpg" width="900" height="450" alt="圖"></div>
                        <div><img src="../course_data/1/img/1_1610955297.jpg" width="900" height="450" alt="圖"></div>
                        <div><img src="../course_data/1/img/2_1610955297.jpg" width="900" height="450" alt="圖"></div>
                        <div>
                            <video style="width:830px; max-width:100%;" controls>
                                <source src="../course_data/1/intro.mp4" type="video/mp4">
                                此瀏覽器不支援本網站的影片播放，請改用她款瀏覽器。
                            </video>
                        </div>
                    </section>
                    <!-- banner end. -->

                    <div class="titleJL marT30 marB0">
                        <h4>課程內容</h4>
                    </div>

                    <table class="table table-hover">
                        <thead>
                            <tr class="thead-light">
                                <th scope="col">踏入新手村 - Python 介紹與開發環境設定</th>
                                <th scope="col" width="60"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row"><a href="#!">Python 簡介</a></th>
                                <td>10:55</td>
                            </tr>
                            <tr>
                                <th scope="row"><a href="#!">編譯與直譯語言介紹</a></th>
                                <td>1:46</td>
                            </tr>
                        </tbody>
                        <thead>
                            <tr class="thead-light">
                                <th scope="col">招式傳授 - 基礎資料型態與運算</th>
                                <th scope="col" width="60"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row"><a href="#!">變數 Variable</a></th>
                                <td>4:48</td>
                            </tr>
                            <tr>
                                <th scope="row"><a href="#!">數字型態 Number</a></th>
                                <td>2:00</td>
                            </tr>
                        </tbody>
                    </table>

                </div>

                <div class="col-12 col-xs-4 col-md-4 col-xl-3 order-0 order-md-1">

                    <div class="titleJL marT0 marB10">
                        <h1>
                            Python 新手村
                        </h1>
                    </div>

                    <div class="text-break">
                        2019 程式語言排名，最熱門和最想學的3大程式設計技能中都有Python程式，這是學習Python程式最扎實的一門課。
                    </div>

                    <div class="row marT20">
                        <div class="col-6">
                            <h6 class="font-weight-bolder">課程時長</h6>
                            <div class="text-muted">
                                19分29秒
                            </div>
                        </div>
                        <div class="col-6">
                            <h6 class="font-weight-bolder">學生人數</h6>
                            <div class="text-muted">
                                1位
                            </div>
                        </div>
                    </div>

                    <span class="inBlock marT15 marB30">
                        <a href="../course/play.html" class="btnJL marL0">
                            進入課程
                        </a>
                    </span>

                </div>
            </div>


        </div>

    </div>

    <script src="../static/js/jquery.min.js"></script>
    <script src="../static/js/bootstrap.js"></script>

    <script src='../static/js/slick.js'></script>
    <script src="../static/js/slide.js"></script>

</body>

</html>